body {
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

#form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#name, 
#age,
#tel,
#email,
#address,
#question,
#gender {
    color: #000;
    font-size: 20px;
    width: 600px;
    margin-bottom: 10px;
}

button {
    color:white;
    font-size: 20px;
    background-color:rgb(0, 136, 255);
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}