body {
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

#form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#name, 
#book_title, 
#book_code,
#rental_period {
    color: #000;
    width: 600px;
    margin-bottom: 10px;
}

#notes {
    color: #000;
    width: 600px;
    height: 100px;
    margin-bottom: 20px;
}

button {
    color:white;
    background-color:rgb(0, 136, 255);
}